<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iiitd.hostel" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".DrawerActivities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".QuoteActivity"
            android:label="@string/title_activity_quote" >
        </activity>
        <activity
            android:name=".DrawerActivities.ItemList"
            android:label="@string/title_activity_item_list"
            android:parentActivityName=".DrawerActivities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.iiitd.hostel.DrawerActivities.MainActivity" />
        </activity>
        <activity
            android:name=".DrawerActivities.Pick_Item"
            android:label="@string/title_activity_pick__item"
            android:parentActivityName=".DrawerActivities.ItemList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.iiitd.hostel.DrawerActivities.ItemList" />
        </activity>

        <activity
            android:name=".DrawerActivities.Collaborators"
            android:label="@string/title_activity_collaborators"
            android:parentActivityName=".DrawerActivities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.iiitd.hostel.DrawerActivities.MainActivity" />
        </activity>
        <activity
            android:name=".DrawerActivities.Logout"
            android:label="@string/title_activity_logout"
            android:parentActivityName=".DrawerActivities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.iiitd.hostel.DrawerActivities.MainActivity" />
        </activity>
    </application>

</manifest>
